<h5>Edit Item</h5>
<%= form_for([:admin, @item], multipart: true) do |f| %>
  <div class="input-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-field">
     <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "browser-default" %>
  </div>
  <div class="input-field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="input-field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "materialize-textarea" %>
  </div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.label :file %>
    <%= f.file_field :file %>
  <div class="input-field">

  </div>
  <div class="center">
    <%= f.submit "Edit Item", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
