<h4 class="admin-items">All Items</h4>
<div class="center">
  <%= link_to "Create a New Item",
              new_admin_item_path,
              class: "waves-effect waves-light btn" %>
</div>
<table class="highlight">
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
    </tr>
    <% @items.each do |item|%>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td><%= item.updated_at %></td>
      <td><%= link_to "Edit Item", edit_admin_item_path(item), class: "waves-effect waves-light btn" %></td>
      <td><%= button_to_change_item_state(item) %></td>
    </tr>
  <% end %>
</table>
