<div class="row form-row">
  <div class="col s6 offset-s3">
    <ul class="tabs">
      <li class="tab col s3"><a href="#login-form">Login</a></li>
      <li class="tab col s3"><a href="#create-form">Create Account</a></li>
    </ul>
  </div>
  <div class="col s12 l6 offset-l3" id="login-form">
    <h5 class="center">Enter your information to login</h5>
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="input-field col s12 l8 offset-l2">
      <%= f.text_field :email %>
      <%= f.label :email %>
    </div>
    <div class="input-field col s12 l8 offset-l2">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="center">
      <%= f.submit "Login", class: "waves-effect waves-light btn" %>
    </div>
    <br/>
    <% end %>
    <div class="center">
      <%= button_to "Sign in with Github!", github_login_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="col s6 offset-s3" id="create-form">
    <h5 class="center">create an account</h5>
    <%= form_for(@user) do |f| %>
    <div class="input-field col s8 offset-s2">
      <%= f.text_field :email %>
      <%= f.label :email %>
    </div>
    <div class="input-field col s8 offset-s2">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="input-field col s8 offset-s2">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="center">
      <%= f.submit "Create Account", class: "waves-effect waves-light btn" %>
    </div>
    <% end %>
  </div>
</div>
