<div class="row">
  <div class="col sm12 m8 l6">
    <ul class="collection">
      <% @cart.all_items.each do |item| %>
        <li class="collection-item avatar">
          <%= image_tag(item[:image_path], class: "circle") %>
          <span class="title"><%= item[:title] %></span>
          <p><%= item[:description] %></p>

            <%= form_tag cart_path, method: :patch do %>
              <%= hidden_field_tag(:item_id, item[:id]) %>
              <%= number_field_tag(:quantity, item[:quantity], min: 1, class: "right right-align") %>
              <%= submit_tag("Update", class: "right btn") %>
            <% end %>


          <%= link_to "Delete", cart_path(item_id: item[:id]), method: :delete, class: "btn" %>
          <span class="secondary-content right"><%= item[:price] %></span>
        </li>
      <% end %>
      <li class="right collection-item">Total: <%= @cart.total %></li>
    </ul>
    <%= checkout_or_create_account_button %>
  </div>
</div>
