<%= render partial: "partials/category_sidebar", locals: { active_category: "all" } %>
  <div class="col s12 m9">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col s12 m4">
          <div class="card card-<%= item.id %>">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag(item.image_path, class: "activator")%>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= item.title %><i class="right"><%= item.price %></i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p><%= item.description %></p>
              <%= button_to cart_path(item_id: item.id), class: "waves-effect waves-light btn" do %>
                <i class="material-icons left">shopping_cart</i>Add to Cart
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
